

<div id='TapestryContain'>
	<canvas id='Tapestry'></canvas>
</div>

<input type="submit" ng-click='saveBoard()' value='save'>
<input type="submit" ng-click='retrieve()' value='retrieve'>
<input type="submit" ng-click='upload()' value='upload'>

<div>
	<input colorpicker type="button" ng-model='createTapestry.color'>
</div>
<img src="http://res.cloudinary.com/dge7wytnb/image/upload/v1458857597/ldzohr0c7ub1xfrdgjuu.png" alt="smiley">

<div ng-repeat='pic in pics'>
	<h1> {{pic.id}} </h1>
	<h1> {{pic.name}} </h1>
</div>